/* src: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */
table.vingtcinq {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25%;
}
table.cinquante {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.tableSite td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td.noborder, th.noborder {
	border: none;
	text-align: left;
}

table tr:nth-child(even) {
    background-color: #AAAAAA;
}

table.tableSite tr:nth-child(even) {
    background-color: #dddddd;
}
