</div>
<button id="backBtn"><a href="#" style="color: white"><img src="assets/icons/btn-chevrons-up.svg"></img></a></button>
<hr>
  <footer>
    <div class="w3-container w3-dark-grey column-right">
        <ul class="w3-ul">
					<li><h5>Naviguer</h5></li>
          <li><a href="crédits" class="nav-link p-0 text-muted">Crédits</a></li>
          <li><a href="mentions-légales" class="nav-link p-0 text-muted">Mentions léguales</a></li>
          <li><a href="https://gitlab.huma-num.fr/gt-cidoc-crm/gt-traduction-cidoc-crm-fr/doc-fr-cidoc-crm" class="nav-link p-0 text-muted">Sources</a></li>
        </ul>
    </div>

		<hr>
    <div class="w3-container column-right">
				<a href="https://masa.hypotheses.org"><img src="logos/masa-logo.png" alt="Logo consortium MASA" id="masa-logo" height="64px"></a>
				<a href="https://www.cnrs.fr/fr/page-daccueil"><img src="logos/cnrs-logo.svg" alt="Logo CNRS" id="cnrs-logo" height="64px"></a>
				<a href="https://huma-num.fr/"><img src="logos/huma-num-logo.png" alt="Logo TGIR Huma-Num" id="hn-logo" height="64px"></a>
				<hr>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="logos/cc-by-sa-88x31.png" alt="Logo licence creative commons" id="cc-logo"></a>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-blue">w3.css</a></p>
    </div>
  </footer>
</div>
<script src="assets/my-w3.js" type = "text/javascript"></script>
</body>
</html>
